<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opdater email</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
</head>
<body>




<form action="../Controller/DoOpdaterEmail.php" method="get">
    nuværende email: <input type="text" name="mail" value="{{ Userinfo.Mail }}" readonly> <br>
    ny email: <input type="text" name="nyemail"> <br>

    <input type="submit" value="Opdater">
</form>




</body>
</html>